@import "../../scss/variables.scss";

.download-button {
  border: solid 1px $sunny-yellow;
  padding: 1.25rem 1.5rem;
  font-size: 1.6rem;
  margin-top: 3rem;
  border-radius: 5px;
  color: $sunny-yellow;
  animation: fade-enter 0.5s linear 0.8s backwards;

  span {
    color: $sunny-yellow;
    font-style: normal;
  }

  &:hover {
    background-color: $sunny-yellow-tint;
    cursor: pointer;
  }
}

/* ------------------------------------------ */

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
  .download-button {
    animation: none;
  }
}
