@import "../../scss/variables.scss";

.stay-in-touch-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: auto;

  .texts-container {
    max-width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .title {
    margin-bottom: 4rem;
    font-size: 2.6rem;
    @extend %fira-sans-500;
    color: $sunny-yellow;
    text-align: center;
  }

  p {
    line-height: 2.4rem;
    text-align: center;
  }
}

/* ------------------------------------------ */

/* MEDIA QUERIES */

@media screen and (max-width: 1280px) {
  .stay-in-touch-container {
    max-width: 500px;
  }
}

@media screen and (max-width: 1024px) {
  .stay-in-touch-container {
    .title {
      margin-bottom: 3rem;
      font-size: 2.2rem;
    }
  }
}

@media screen and (max-width: 576px) {
  .stay-in-touch-container {
    padding: 0 2rem;
  }
}
