@import "../../scss/variables.scss";

.stay-in-touch-container {
  margin: 10rem auto 20rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;

  .title {
    margin-bottom: 4rem;
    font-size: 2.6rem;
    @extend %fira-sans-500;
    color: $sunny-yellow;
    text-align: center;
  }

  p {
    line-height: 2.4rem;
    text-align: center;
  }
}

/* ------------------------------------------ */

/* MEDIA QUERIES */

@media screen and (max-width: 1280px) {
  .stay-in-touch-container {
    margin: 10rem auto 20rem auto;
    max-width: 500px;
  }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 320px) {
}
