@import "../../scss/variables.scss";

.logo {
  margin: 2rem 5rem;
  position: fixed;
  top: 0rem;
  left: 0rem;
  cursor: pointer;
  animation: appearance 0.2s linear 1.4s backwards;
}

/* ------------------------------------------ */

/* MEDIA QUERIES */

@media screen and (max-width: 1280px) {
  .logo {
    margin: 2rem 2rem;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    display: none;
  }
}
