@import "../../scss/variables.scss";

.projects-container {
  margin: 0rem auto;
  display: flex;
  flex-direction: column;
  max-width: 1024px;

  .title {
    margin-bottom: 10rem;
    font-size: 2.6rem;
    @extend %fira-sans-500;
    color: $sunny-yellow;
    text-align: center;
  }
}

/* ------------------------------------------ */

/* MEDIA QUERIES */

@media screen and (max-width: 1280px) {
  .projects-container {
    margin: 0rem auto;
    max-width: 800px;
  }
}

@media screen and (max-width: 1024px) {
  .projects-container {
    margin: 0rem auto;
    max-width: 600px;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 320px) {
}
