@import "/src/scss/variables.scss";

.social-networks-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 6rem;
  animation: appearance 0.2s linear 1.4s backwards;

  &::after {
    content: "";
    display: block;
    width: 1px;
    height: 14rem;
    background-color: $sunset-yellow;
  }

  li {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    transform: translate(0, 0%);
  }

  li:hover {
    transform: translate(0, -5%);
  }
}

/* ------------------------------------------ */

/* MEDIA QUERIES */

@media screen and (max-width: 1280px) {
  .social-networks-links {
    left: 4rem;
  }
}

@media screen and (max-width: 1024px) {
  .social-networks-links {
    left: 2.5rem;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 320px) {
}
