@import "../../scss/variables.scss";

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 12rem;

  p {
    @extend %fira-sans-200;
    line-height: 2.4rem;
    font-size: 1.4rem;
    text-align: center;
  }

  p:last-child {
    color: $grey-smoke;
  }

  a {
    text-decoration: none;
    color: $grey-smoke;
    font-style: italic;
  }

  a:hover {
    color: $brittany-green;
  }
}
