@import "/src/scss/variables.scss";

.home-container {
  margin: 15rem 25rem;
  height: calc(100vh - 30rem);
  @extend %fira-sans-400;
  color: white;
  font-size: 2rem;
  // border: orange 2px solid;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .first-line {
    color: $sunny-yellow;
    @extend %fira-sans-300;
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }

  .name {
    @extend %fira-sans-700;
    font-size: 7.2rem;
    margin-bottom: 2rem;
  }

  .subtitle {
    font-size: 4.2rem;
    color: $sunset-yellow;
    margin-bottom: 5rem;
  }

  .description {
    @extend %fira-sans-300;
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  a {
    color: inherit;
    text-decoration: none;
    font-style: italic;
  }

  a:hover {
    color: $reacteur-purple;
  }

  code {
    font-size: 1.5rem;
  }
}
