@import "/src/scss/variables.scss";

.home-container {
  margin: auto;
  height: 100vh;
  @extend %fira-sans-400;
  color: white;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 1024px;

  .first-line {
    color: $sunny-yellow;
    @extend %fira-sans-300;
    font-size: 1.6rem;
    margin-bottom: 2rem;
    animation: fade-enter 0.5s linear 0s backwards;
  }

  .name {
    @extend %fira-sans-700;
    font-size: 7.2rem;
    margin-bottom: 2rem;
    transform: translateY(0px);
    animation: fade-enter 0.5s linear 0.2s backwards;
  }

  .subtitle {
    font-size: 4.2rem;
    color: $sunset-yellow;
    margin-bottom: 5rem;
    animation: fade-enter 0.5s linear 0.4s backwards;
  }

  .description-container {
    animation: fade-enter 0.5s linear 0.6s backwards;
  }

  .description {
    @extend %fira-sans-300;
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  a {
    color: inherit;
    text-decoration: none;
    font-style: italic;
  }

  a:hover {
    color: $reacteur-purple;
  }

  code {
    font-size: 1.5rem;
  }
}

/* ------------------------------------------ */

/* MEDIA QUERIES */

@media screen and (max-width: 1280px) {
  .home-container {
    max-width: 800px;
  }
}

@media screen and (max-width: 1024px) {
  .home-container {
    max-width: 600px;

    .name {
      font-size: 6.2rem;
      margin-bottom: 1.5rem;
    }

    .subtitle {
      font-size: 3.2rem;
      margin-bottom: 3rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .home-container {
    padding: 3rem;
    align-items: center;
    .first-line {
      animation: none;
    }

    .name {
      font-size: 3rem;
      margin-bottom: 1rem;
      animation: none;
    }

    .subtitle {
      font-size: 1.8rem;
      animation: none;
    }

    .description-container {
      animation: none;
    }

    p,
    div {
      text-align: center;
    }
  }
}

@media screen and (max-width: 480px) {
  .home-container {
    padding: 1.5rem;
  }
}
