@import "../../scss/variables.scss";

.about-container {
  margin: 20rem 20rem 30rem 20rem;
  display: flex;
  align-items: flex-start;

  .texts-container {
    padding-right: 6rem;
    flex: 2;

    .texts {
      text-align: justify;
      margin-bottom: 2rem;
      line-height: 2rem;
      @extend %fira-sans-300;

      p {
        line-height: 2.6rem;
        margin: 3rem 0;
      }

      .bold {
        @extend %fira-sans-500;
      }

      a {
        color: $white;
        text-decoration: none;

        &:hover {
          color: $reacteur-purple;
        }
      }
    }

    .title {
      margin-bottom: 3rem;
      font-size: 2.6rem;
      @extend %fira-sans-500;
      color: $sunny-yellow;
    }
  }

  .picture-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;

    img {
      width: 100%;
      border-radius: 5px;
    }
  }
}
