@import "../../scss/variables.scss";

.about-container {
  margin: 20rem auto 30rem auto;
  display: flex;
  align-items: flex-start;
  max-width: 1024px;

  .texts-container {
    padding-right: 5rem;
    flex: 2;

    .texts {
      text-align: justify;
      @extend %fira-sans-300;

      p {
        line-height: 2.6rem;
        margin: 3rem 0;
      }

      .bold {
        @extend %fira-sans-500;
        color: $sunny-yellow;
      }

      a {
        color: $white;
        text-decoration: none;

        &:hover {
          color: $reacteur-purple;
        }
      }
    }

    .title {
      margin-bottom: 3rem;
      font-size: 2.6rem;
      @extend %fira-sans-500;
      color: $sunny-yellow;
    }
  }

  .picture-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;

    img {
      width: 100%;
      border-radius: 5px;
    }
  }
}

/* ------------------------------------------ */

/* MEDIA QUERIES */

@media screen and (max-width: 1280px) {
  .about-container {
    max-width: 800px;

    .texts-container {
      padding-right: 3rem;
      flex: 1.5;

      .texts {
        p {
          line-height: 2.2rem;
          margin: 2rem 0;
        }
      }

      .title {
        margin-bottom: 2rem;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .about-container {
    max-width: 600px;
    display: flex;
    flex-direction: column;

    .texts-container {
      padding-right: 0rem;
      flex: 1;

      .texts {
        p {
          line-height: 2.4rem;
        }
      }

      .title {
        margin-bottom: 3rem;
        font-size: 2.2rem;
      }
    }

    .picture-container {
      margin-top: 4rem;

      img {
        width: 50%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .about-container {
    margin: 10rem auto 10rem auto;
  }
}

@media screen and (max-width: 576px) {
  .about-container {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 480px) {
  .about-container {
    .picture-container {
      img {
        width: 80%;
      }
    }
  }
}
