// -------------- //
// Index SCSS //
// -------------- //

@import "/src/scss/variables.scss";

/* GLOBAL RULES */

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $navy-blue;
  @extend %fira-sans-400;
  color: $white;
  font-size: 1.6rem;
}

code {
  @extend %fira-code-500;
}

/* ------------------------------------------ */

/* CUSTOM SCROLLBAR */

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #011020;
}
::-webkit-scrollbar-thumb {
  background: rgba(142, 152, 164, 0.5);
  border-radius: 10px;
}

/* ------------------------------------------ */
